{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form novalidate method="POST">
		<div>
			<label for="email">Email:</label><br>
			<input type="email" name="email" id="email" value="{{app.session.get('app_login_form_last_email')}}" required autofocus>
		</div>
		<div>
			<label for="password">Password:</label><br>
			<input type="password" name="password" id="password" required>
		</div>
		<div>
			<label for="remember_me">
				<input type="checkbox" name="_remember_me" id="remember_me">
				Garder la session active
			</label>
		</div>
		<input type="hidden" name="csrf_token" value="{{csrf_token('login_form')}}">
		<input type="submit" value="Se connecter">
	</form>
	<a href="{{path('app_forgotten_pass')}}">Mot de passe oublié ?</a>
{% endblock %}
