{% extends 'base.html.twig' %}
{% block header %}
    {{include('partials/_header.html.twig', {class: 'header__img'})}}
{% endblock %}
{% block title %}Snowtricks - Accueil{% endblock %}
{% block body %}
    <section id="home">
        <div class="row">
            <trick-list asset={{absolute_url(asset('snowtricks'))}}></trick-list>
        </div>
    </section>
{% endblock %}
