<nav id="navbar">
    <ul class="navbar__header">
        <li><a href="{{path('app_home')}}" class="navbar__header__logo">Snowtricks</a></li>
        <li>
            <a href="#" class="navbar__header__mobile"></a>
            <ul class="navbar__header__subnav">
                {{include('partials/_li.html.twig')}}
            </ul>
        </li>
        {{include('partials/_li.html.twig')}}
    </ul>
</nav>