<p>Bonjour,</p>
<p>Une demande réinitialisation de mot de passe a été effectuée pour le site SnowTricks.fr</p>
<p>Veuillez cliquer sur le lien suivant:</p>
<p>
	<a href="{{url}}">Réinitialiser mon mot de passe</a>
</p>
