<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{asset('images/snowboard.png')}}" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Snowtricks{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
        and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block header %}{% endblock %}
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>
        <aside id="modal1" class="modal" aria-hidden="true" role="dialog" aria-labelledby="titlemodal" style="display:none">
            <div class="modal__wrapper js-modal-stop">
                <button class="js-modal-close">Fermer la boite modale</button>
                {# <div class="modal__wrapper__img">
                    <img src="{{asset('images/snowboard-113784_1920.jpg')}}" alt="modal__header">
                </div> #}
                <h1 class="titlemodal">Aperçu</h1>
                <p>Man, I'm sore all over. I feel like I just went ten rounds with mighty Thor. My fellow Earthicans, as I have explained in my book 'Earth in the Balance'', and the much more popular ''Harry Potter and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards.</p>
                <p>Negative, bossy meat creature! Yeah. Give a little credit to our public schools. <strong> Ow, my spirit!</strong> <em> My fellow Earthicans, as I have explained in my book 'Earth in the Balance'', and the much more popular ''Harry Potter and the Balance of Earth', we need to defend our planet against pollution.</em> Also dark wizards.</p>
                <h2>No. We're on the top.</h2>
                <p>Ven ve voke up, ve had zese wodies. And from now on you're all named Bender Jr. Hey, what kinda party is this? There's no booze and only one hooker. Daddy Bender, we're hungry. But I know you in the future. I cleaned your poop.</p>
                <ol>

                    <li>That's right, baby. I ain't your loverboy Flexo, the guy you love so much. You even love anyone pretending to be him!</li><li>Or a guy who burns down a bar for the insurance money!</li><li>Pansy.</li>

                </ol>

                <h3>Oh, how awful. Did he at least die painlessly? …To shreds, you say. Well, how is his wife holding up? …To shreds, you say.</h3>
                <p>I'm sure those windmills will keep them cool. It's toe-tappingly tragic! Your best is an idiot! Also Zoidberg. Bite my shiny metal ass.</p>
                <ul>

                    <li>Really?!</li><li>Shinier than yours, meatbag.</li><li>Fry, you can't just sit here in the dark listening to classical music.</li>

                </ul>

                <p>I daresay that Fry has discovered the smelliest object in the known universe! What are you hacking off? Is it my torso?! 'It is!' My precious torso! Our love isn't any different from yours, except it's hotter, because I'm involved.</p>
                <p>So I really am important? How I feel when I'm drunk is correct? I meant 'physically'. Look, perhaps you could let me work for a little food? I could clean the floors or paint a fence, or service you sexually?</p>
                <p>Kif, I have mated with a woman. Inform the men. I can explain. It's very valuable. Um, is this the boring, peaceful kind of taking to the streets? Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar.</p>
                <p>OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman can. It's toe-tappingly tragic! There's no part of that sentence I didn't like! You guys realize you live in a sewer, right?</p>
            </div>
        </aside>
        <footer>
            Copyright @snowtricks
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
